doctype html
html(lang="en")
	head
		title landing page
	body
		h1 "I like to run!"
		p "Vegan subway tile photo booth chia humblebrag fashion axe. Photo booth gochujang single-origin coffee, pork belly selfies messenger bag sartorial. Gluten-free activated charcoal kinfolk raclette. Art party shoreditch hammock, put a bird on it bicycle rights pork belly semiotics ugh stumptown banh mi. Occupy tbh shoreditch, before they sold out hexagon coloring book knausgaard. Occupy kitsch sartorial, unicorn flannel brunch iPhone vexillologist small batch. Pickled pour-over typewriter post-ironic, food truck four loko jianbing messenger bag tote bag DIY gastropub ramps. Pour-over coloring book meh, portland brooklyn roof party poke deep v copper mug beard franzen quinoa marfa. Kinfolk williamsburg hot chicken, live-edge skateboard shaman blog."
